<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" #sidenav opened>
    <button
      mat-mini-fab
      color="primary"
      type="button"
      aria-label="Toggle sidenav"
      (click)="sidenav.toggle()"
    >
      <mat-icon aria-label="Side nav toggle icon"> chevron_left </mat-icon>
    </button>

    <div>
      <mat-list>
        <mat-list-item
          ><button mat-button routerLink="/list">Listado</button></mat-list-item
        >
        <mat-list-item
          ><button mat-button routerLink="/abm">
            Gestionar
          </button></mat-list-item
        >
      </mat-list>
    </div></mat-sidenav
  >
  <mat-sidenav-content>
    <button
      *ngIf="!sidenav.opened"
      mat-mini-fab
      color="primary"
      type="button"
      aria-label="Toggle sidenav"
      (click)="sidenav.toggle()"
      class="floating"
    >
      <mat-icon aria-label="Side nav toggle icon"> chevron_right </mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
